@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Marcellus+SC&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-secondary: #000;
  /* --color-secondary: #091697; */
  --color-primary: #152f24;
  --color-light-blue: #91b5c5;
  --font-mono: var(--font-geist-mono);
  --font-marcellus: "Marcellus SC", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  /* height: 16px; */
  /* border-radius: 50%; */
  background: var(--color-secondary);
  cursor: pointer;
}

.spinner {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgb(170, 170, 170);
}

.notification-item {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}
.notification-item.show {
  transform: translateX(0);
  opacity: 1;
}
